<p id="notice"><%= notice %></p>

<p>
  <strong>Authors:</strong>
  <%= @article.authors %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @article.issue_date %>
</p>

<p>
  <strong>Url:</strong>
  <%= @article.url %>
</p>

<%= link_to t(:edit), edit_article_url(id: @article) %> |
<%= link_to t(:back), groups_path %>
