<h1><%= t :dates_page %> </h1>

<p>
  <%= link_to (t :comments), "/#{I18n.locale}/zt_i18n_cmt" %>
</p>

<p><%= t(:localization) + ": " + t(:locale_language)%></p>

<h3><%= t :defaults %>
<table border="1">
  <tr>
    <th width="300"><%= t :parameter %></th>
    <th width="400"><%= t :value %></th>
    <th width="400"><%= t :locale_value %></th>
  </tr>
  <tr>
    <td>Current time (<strong>Time.current</strong>)</td>    <td><%= @current_time %></td> <td><%= l @current_time %></td>
  </tr>
  <tr>
    <td>locale format <strong>short</strong> </td>      <td></td><td><%= l @current_time, format: :short %></td>
  </tr>
  <tr>
    <td>locale format <strong>long</strong> </td>       <td></td><td><%= l @current_time, format: :long %></td>
  </tr>
  <tr>
    <td>locale format <strong>full</strong> </td>       <td></td><td><%= l @current_time, format: :full %></td>
  </tr>
  <tr>
    <td>locale format <strong>short_date</strong> </td> <td></td><td><%= l @current_time, format: :short_date %></td>
  </tr>
  <tr>
    <td>locale format <strong>long_date</strong> </td>  <td></td><td><%= l @current_time, format: :long_date %></td>
  </tr>
  <tr>
    <td>locale format <strong>short_time</strong> </td> <td></td><td><%= l @current_time, format: :short_time %></td>
  </tr>
  <tr>
    <td>locale format <strong>long_time</strong> </td>  <td></td><td><%= l @current_time, format: :long_time %></td>
  </tr>
</table>
<br>
<h3><%= t :time_zones %>
<p>
  <a href="http://www.elabs.se/blog/36-working-with-time-zones-in-ruby-on-rails">Working with time zones in Ruby on Rails</a><br>
  <a href="http://danilenko.org/2012/7/6/rails_timezones/">The Exhaustive Guide to Rails Time Zones</a>
</p>
<table border="1">
  <tr>
    <th width="500"><%= t :parameter %></th>
    <th width="300"><%= t :value %></th>
    <th width="300"><%= t :locale_value %></th>
  </tr>
    <tr>
    <td>Current time (<strong>Time.current</strong>) - <span class="notice">Use this one !</span></td>    <td><%= @current_time %></td> <td><%= l @current_time %></td>
  </tr>
  <tr>
    <td>Current time UTC (<strong>Time.current.utc</strong>)</td>    <td><%= @current_time_utc %></td> <td><%#= l @current_time_utc %></td>
  </tr>
  <tr>
    <td>Current time UTC (<strong>Time.current.utc.iso8601</strong>)</td>    <td><%= @current_time_utc_iso8601 %></td> <td><%#= l @current_time_utc_iso8601 %></td>
  </tr>
  <tr>
    <td>Zone time (<strong>Time.zone.now</strong>) = current_time</td>    <td><%= @time_zone_now %></td> <td><%= l @time_zone_now %></td>
  </tr>
  <tr>
    <td>System time (<strong>Time.now</strong>) <> current_time - <span class="alert">Don't use it!</span></td>    <td><%= @time_now %></td> <td><%= l @time_now %></td>
  </tr>
</table>
<br>
<h3><%= t :formatting %> </h3>
<table border="1">
  <tr>
    <th width="500"><%= t :format %></th>
    <th width="300"><%= t :strftime_value %></th>
    <th width="300"><%= t :format_value %></th>
  </tr>
  <tr>
    <td><strong>%d.%m.%Y</strong> </td>
    <td><%=  @current_time.strftime   "%d.%m.%Y"  %></td>
    <td><%=  l @current_time, format: '%d.%m.%Y' %></td>
  </tr>
  <tr>
    <td><strong>%d %B %Y</strong> </td>
    <td><%=  @current_time.strftime   "%d %B %Y"  %></td>
    <td><%=  l @current_time, format: '%d %B %Y' %></td>
  </tr>
  <tr>
    <td><strong>%c</strong> </td>
    <td><%=  @current_time.strftime   "%c"  %></td>
    <td><%=  l @current_time, format: '%c' %></td>
  </tr>
  <tr>
    <td><strong>%H:%M:%S</strong> </td>
    <td><%=  @current_time.strftime   "%H:%M:%S"  %></td>
    <td><%=  l @current_time, format: '%H:%M:%S'  %></td>
  </tr>
  <tr>
    <td><strong>%a</strong> - abbreviated weekday name</td>
    <td><%=  @current_time.strftime   "%a"  %></td>
    <td><%=  l @current_time, format: '%a'  %></td>
  </tr>
  <tr>
    <td><strong>%A</strong> - full weekday name</td>
    <td><%=  @current_time.strftime   "%A" %></td>
    <td><%=  l @current_time, format: '%A'  %></td>
  </tr>
  <tr>
    <td><strong>%b</strong> - abbreviated month name</td>
    <td><%=  @current_time.strftime   "%b"  %></td>
    <td><%=  l @current_time, format: '%b'  %></td>
  </tr>
  <tr>
    <td><strong>%y</strong> - Year without a century (00 to 99)</td>
    <td><%=  @current_time.strftime   "%y"  %></td>
    <td><%=  l @current_time, format: '%y'  %></td>
  </tr>
  <tr>
    <td><strong>%I</strong> - Hour of the day, 12-hour clock (01 to 12) </td>
    <td><%=  @current_time.strftime   "%I"  %></td>
    <td><%=  l @current_time, format: '%I'  %></td>
  </tr>
  <tr>
    <td><strong>%p</strong> - Meridian indicator (AM or PM)</td>
    <td><%=  @current_time.strftime   "%p"  %></td>
    <td><%=  l @current_time, format: '%p'  %></td>
  </tr>
  <tr>
    <td><strong>%x</strong> - Preferred representation for the date alone, no time</td>
    <td><%=  @current_time.strftime   "%x"  %></td>
    <td><%=  l @current_time, format: '%x'  %></td>
  </tr>
  <tr>
    <td><strong>%X</strong> - Preferred representation for the time alone, no date</td>
    <td><%=  @current_time.strftime   "%X"  %></td>
    <td><%=  l @current_time, format: '%X'  %></td>
    <tr>
    <td><strong>%Z</strong> - Time zone name</td>
    <td><%=  @current_time.strftime   "%Z" %></td>
    <td><%=  l @current_time, format: '%Z'  %></td>
  </tr>
  </tr>
</table>

<h3>ZT <%= t :methods %></h3>
<p><%= "#{t :short_date}:       #{zt_date @current_time,     "short"}" %></p>
<p><%= "#{t :long_date}:        #{zt_date @current_time,     "long" }" %></p>
<p><%= "#{t :default_date}:     #{zt_date @current_time             }" %></p>
<p><%= "#{t :short_time}:       #{zt_time @current_time,     "short"}" %></p>
<p><%= "#{t :long_time}:        #{zt_time @current_time,     "long" }" %></p>
<p><%= "#{t :default_time}:     #{zt_time @current_time             }" %></p>
<p><%= "#{t :short_datetime}:   #{zt_datetime @current_time, "short"}" %></p>
<p><%= "#{t :long_datetime}:    #{zt_datetime @current_time, "long" }" %></p>
<p><%= "#{t :full_datetime}:    #{zt_datetime @current_time, "full" }" %></p>
<p><%= "#{t :default_datetime}: #{zt_datetime @current_time         }" %></p>
<p><%= "#{t :timestamp}:        #{zt_ts }" %></p>

<h3>ZT <%= t :dates_interval %></h3>
<p>['2013-11-09' - '2013-11-25']:        <strong><%= zt_dates_interval(Time.parse("2013-11-09"), Time.parse("2013-11-25")) %></strong></p>
<p>['2013-11-21' - Date.new(2013,12,9)]: <strong><%= zt_dates_interval(Time.parse("2013-11-21"), Date.new(2013,12,9)) %></strong></p>
<p>[Date.new(2099,01,29) - Time.now]:    <strong><%= zt_dates_interval(Date.new(2099,01,29), Time.now) %></strong></p>
